.col-md-12 {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    width: fit-content;
}

.h1 {    
    margin: 15px;
}

li {
    padding: 20px 0;
}